body{
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 60%;
}

#content-chat{
  height: 550px;
  overflow-y: scroll;
}

#nickname{
  width: 12em;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

